@charset "UTF-8";

.board_content {
	position: relative;
	max-width: 1200px;
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 60px 0;
}

table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	margin: 0 !important;
	margin: 50px 0 20px 0 !important;
}

.table tr th {

	font-weight: 500;
}

.table tr th.detail {
		width:10%;
}

table tr td, table tr th {
	padding: 15px;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

.table_title {
	border-top: 1px solid #ddd !important;
}

table tr {
	border-top: 1px solid #ddd;
}

table tr.last {
	border-bottom: 1px solid #ddd;
}

table th {
	text-align: left !important;
}

.table_date {
	width: 140px !important;
}

.table_writer {
	width: 140px !important;
}

.table_content {
	border-bottom: 1px solid #ddd;
}

.tdalign {
	text-align: center;
}

textarea{
	display: block;
	border: 1px solid #adadad;
	padding: 10px;
	color: #191919;
	width: 100%;
	/* height: 50px; */
	font-size: 14px;
	flex: 2;
}

.board_wrap {
	margin: 0 auto;
}

.board_wrap ul li {
	position: relative;
	width: 100%;
	padding: 20px 0;
	margin: 10px auto;
	display:flex;
}
.board_wrap ul li.filebox {
	
	display:block;
}

.board_wrap ul li label {
	flex: 1;
	max-width: 123px;
	font-weight: 400;
}

.board_wrap ul li input {
	display: block;
	border: 1px solid #adadad;
	padding: 10px;
	color: #191919;
	width: 100%;
	height: 50px;
	font-size: 14px;
	flex: 2;
}

.board_wrap ul li.filebox input{
	margin-top:20px;
}


.confirm-btn.boardbtn {
	display: flex;
	justify-content: space-between;
}

.btn.cancel {
	color: #191919;
	border: 1px solid #bdbdbd;
	background: transparent;
	margin-left: 20px;
}
/*하단*/
.other_content {
	text-align: right;
}

.writebtn {
	width: 120px;
}

.board_search {
	position: relative;
}

.pagebox {
	position: relative;
	margin-top: 50px;
}

.pagebox a {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.searchbox {
	width: 350px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}

.box_margin {
	margin-right: 10px;
	margin-right: 10px;
	display: block;
	border: 1px solid #adadad;
	padding: 10px;
	color: #191919;
	width: 100%;
	/* height: 50px; */
	font-size: 14px;
	flex: 2;
}

.submitbtn {
	padding: 6px 14px !important;
	border: none;
}