@charset "UTF-8";

.content {
	min-height: calc(100vh - 46px);
	box-sizing: border-box;
	position: relative;
	z-index: 1;
	margin-top: 60px;
}

/*top*/
.top_container {
	display: flex;
	flex-direction: column;
}

/*top_search*/
.search_container {
	max-width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
}

.search_content {
	display: block;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 2px;
	padding: 16px 0;
	margin-top: 0em;
}

.search_number {
	box-sizing: border-box;
	display: flex !important;
	justify-content: flex-start !important;
	align-items: center !important;
}

.search_number_container {
	box-sizing: border-box;
	display: inline-block !important;
}

.search_number_button {
	height: auto;
	box-sizing: border-box;
	display: flex !important;
	border: none;
	border-radius: 0;
	white-space: normal;
	text-overflow: inherit;
	overflow: visible;
	background: none;
	box-shadow: none;
	color: #4e4e4e !important;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14.4px !important;
	font-weight: inherit;
	line-height: normal;
	letter-spacing: .03em !important;
	text-decoration: inherit;
	transition: border .3s ease-in-out !important;
	text-align: left !important;
	padding: 0 0 10px 0 !important;
	border-bottom: 2px solid transparent !important;
	word-spacing: normal;
}

.search_number_text {
	width: 100% !important;
	display: inline-block !important;
	cursor: default;
	box-sizing: border-box;
	letter-spacing: normal;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	margin-left: -13.05px !important;
	padding: 0 0 0 13.05px !important;
}

.search_text_inner {
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	letter-spacing: -0.28571428571429em;
	font-family: FreeSans, Arimo, Droid Sans, Helvetica, Arial, sans-serif;
	text-rendering: optimizespeed;
	padding-right: 10px !important;
}

.search_text {
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
	letter-spacing: normal;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	text-rendering: auto;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

.search_number_arr {
	width: 13px !important;
	display: inline-block !important;
	box-sizing: border-box;
	padding: 0 !important;
	margin-bottom: 0 !important;
}

.search_number_arr svg {
	width: 12px !important;
	height: 18px !important;
	display: block !important;
	position: relative;
	overflow: hidden;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-width: 1.35;
}

.search_number_arr path {
	cursor: default;
	box-sizing: border-box;
	stroke: currentcolor;
	fill: none;
}

.search_insert_container {
	
}

.search_insert.city {
	width: 314px !important;
	display: inline-block !important;
	padding: 0 2px !important;
	margin-bottom: 4px !important;
}

.search_city_display {
	height: 54px !important;
	display: flex !important;
	align-items: center !important;
	box-sizing: border-box;
	position: relative;
	background-color: #f4f4f4 !important;
	color: #17232c !important;
	padding: 0 16px;
	border-radius: 2px !important;
	font-size: 15px !important;
	letter-spacing: normal;
}

.search_city_display svg {
	width: 24px !important;
	height: 24px !important;
	display: block !important;
	position: absolute !important;
	left: 16px !important;
	top: 50% !important;
	box-sizing: border-box;
	cursor: text !important;
	overflow: hidden;
	color: #232b38 !important;
	margin-top: -12px !important;
	pointer-events: none !important;
}

.city_text {
	display: block;
	box-sizing: border-box;
	line-height: 20px !important;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	overflow: hidden !important;
	color: #17232c !important;
	cursor: text !important;
	font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial,
		sans-serif !important;
	font-size: 15px !important;
	font-weight: 400 !important;
	letter-spacing: normal;
}

.city_text input[type="text"] {
	width: 240px;
	height: 34px;
	background-color: #f4f4f4;
	border: none;
	padding-left: 4px;
}

.search_insert.date {
	width: 500px !important;
	display: inline-block !important;
	box-sizing: border-box;
	margin-bottom: 4px !important;
	padding: 0 2px !important;
}

.search_date_display {
	display: flex !important;
	align-items: center !important;
	cursor: pointer !important;
	box-sizing: border-box;
	position: relative;
	flex-wrap: nowrap !important;
	background-color: #f4f4f4 !important;
	border-radius: 2px !important;
}

.date_check {
	height: 54px;
	display: flex;
	flex: 1 1 50%;
	align-items: center;
	box-sizing: border-box;
	padding: 0 14px;
	border-radius: 2px;
}

.date_text {
	width: 184.5px !important;
	height: 100% !important;
	display: flex !important;
	flex: 1 1 50% !important;
	align-items: center !important;
	box-sizing: border-box;
	cursor: pointer !important;
}

.date_text svg {
	width: 24px !important;
	height: 24px !important;
	box-sizing: border-box;
	display: block !important;
	cursor: pointer !important;
	overflow: hidden;
	color: #232b38 !important;
	margin-right: 6px !important;
	pointer-events: none !important;
	fill: none;
}

.date_innertext {
	width: 120px;
	display: block;
	flex: 1 1 auto !important;
	box-sizing: border-box;
	cursor: text !important;
	color: #4e4e4e !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-align: left !important;
	font-size: 15px !important;
	letter-spacing: normal;
	line-height: 20px !important;
}

.date_btn_before {
	width: auto !important;
	height: auto !important;
	display: block !important;
	box-sizing: border-box;
	align-items: flex-start;
	cursor: default;
	color: #4e4e4e !important;
	padding: 6px 4px !important;
	margin: 0;
	background-color: transparent !important;
	box-shadow: none !important;
	border-radius: 2px !important;
	border: 0;
	-webkit-appearance: button;
	-webkit-text-size-adjust: 100%;
	background: none;
	outline: inherit;
	overflow: visible;
	text-overflow: inherit;
	text-align: center;
	white-space: normal;
	text-decoration: inherit;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	-webkit-writing-mode: horizontal-tb !important;
}

.date_btn_before svg {
	width: 11px !important;
	height: 11px !important;
	display: block !important;
	box-sizing: border-box;
	transform: rotate(90deg);
	overflow: hidden;
	color: #232b38 !important;
	stroke-width: 1px !important;
}

.date_btn_after {
	width: auto !important;
	height: auto !important;
	display: block !important;
	box-sizing: border-box;
	align-items: flex-start;
	cursor: default;
	color: #4e4e4e !important;
	padding: 6px 4px !important;
	margin: 0;
	background-color: transparent !important;
	box-shadow: none !important;
	border-radius: 2px !important;
	border: 0;
	-webkit-appearance: button;
	background: none;
	outline: inherit;
	overflow: visible;
	text-overflow: inherit;
	text-align: center;
	white-space: normal;
	text-decoration: inherit;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	-webkit-writing-mode: horizontal-tb !important;
}

.date_btn_after svg {
	width: 11px !important;
	height: 11px !important;
	display: block !important;
	box-sizing: border-box;
	transform: rotate(-90deg);
	overflow: hidden;
	color: #232b38 !important;
	stroke-width: 1px !important;
}

.date_btn_before_a {
	width: auto !important;
	height: auto !important;
	display: block !important;
	box-sizing: border-box;
	align-items: flex-start;
	cursor: default;
	color: #4e4e4e !important;
	padding: 6px 4px !important;
	margin: 0;
	background-color: transparent !important;
	box-shadow: none !important;
	border-radius: 2px !important;
	border: 0;
	-webkit-appearance: button;
	-webkit-text-size-adjust: 100%;
	background: none;
	outline: inherit;
	overflow: visible;
	text-overflow: inherit;
	text-align: center;
	white-space: normal;
	text-decoration: inherit;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	-webkit-writing-mode: horizontal-tb !important;
}

.date_btn_before_a svg {
	width: 11px !important;
	height: 11px !important;
	display: block !important;
	box-sizing: border-box;
	transform: rotate(90deg);
	overflow: hidden;
	color: #232b38 !important;
	stroke-width: 1px !important;
}

.date_btn_after_a {
	width: auto !important;
	height: auto !important;
	display: block !important;
	box-sizing: border-box;
	align-items: flex-start;
	cursor: default;
	color: #4e4e4e !important;
	padding: 6px 4px !important;
	margin: 0;
	background-color: transparent !important;
	box-shadow: none !important;
	border-radius: 2px !important;
	border: 0;
	-webkit-appearance: button;
	background: none;
	outline: inherit;
	overflow: visible;
	text-overflow: inherit;
	text-align: center;
	white-space: normal;
	text-decoration: inherit;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	-webkit-writing-mode: horizontal-tb !important;
}

.date_btn_after_a svg {
	width: 11px !important;
	height: 11px !important;
	display: block !important;
	box-sizing: border-box;
	transform: rotate(-90deg);
	overflow: hidden;
	color: #232b38 !important;
	stroke-width: 1px !important;
}

.date_sep {
	width: 1px !important;
	height: 22px !important;
	display: block !important;
	flex: 0 0 auto !important;
	box-sizing: border-box;
	cursor: pointer !important;
	background-color: #4e4e4e !important;
}

.search_insert.button_container {
	width: 58px !important;
	display: inline-block !important;
	box-sizing: border-box;
	padding: 0 2px !important;
	margin-bottom: 4px !important;
}

.search_insert_button {
	width: 100%;
	height: 54px;
	cursor: pointer;
	background-color: #ff346e;
}

.search_icon_container {
	display: flex;
	box-sizing: border-box;
	cursor: pointer !important;
	align-content: center;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #ffffff !important;
	white-space: nowrap !important;
	-webkit-writing-mode: horizontal-tb !important;
}

.search_icon {
	box-sizing: border-box;
	text-align: center;
	color: #ffffff !important;
	white-space: nowrap !important;
	cursor: pointer !important;
	-webkit-writing-mode: horizontal-tb !important;
}

.search_icon svg {
	width: 54px !important;
	height: 54px !important;
	display: block !important;
	box-sizing: border-box;
	text-align: center;
	overflow: hidden;
	color: #ffffff !important;
	white-space: nowrap !important;
	cursor: pointer !important;
	-webkit-writing-mode: horizontal-tb !important;
}

.search_insert.countRoom {
	width: 150px !important;
	display: inline-block !important;
	padding: 0 6px !important;
	padding-right: 2px !important;
	margin-bottom: 4px !important;
}

.search_room_display {
	height: 54px !important;
	display: flex !important;
	align-items: center !important;
	cursor: text !important;
	box-sizing: border-box;
	position: relative;
	background-color: #f4f4f4 !important;
	color: #17232c !important;
	padding: 0 16px;
	border-radius: 2px !important;
	font-size: 15px !important;
	font-weight: 400 !important;
	letter-spacing: normal;
}

.search_room_display svg {
	width: 24px !important;
	height: 24px !important;
	display: block !important;
	position: absolute !important;
	left: 16px !important;
	top: 50% !important;
	box-sizing: border-box;
	cursor: text !important;
	overflow: hidden;
	color: #232b38 !important;
	margin-top: -12px !important;
	pointer-events: none !important;
}

.room_text {
	display: block;
	box-sizing: border-box;
	line-height: 20px !important;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	overflow: hidden !important;
	color: #17232c !important;
	cursor: text !important;
	font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial,
		sans-serif !important;
	font-size: 15px !important;
	font-weight: 400 !important;
	letter-spacing: normal;
}

.search_insert.countPeople {
	width: 150px !important;
	display: inline-block !important;
	padding: 0 6px !important;
	padding-right: 2px !important;
	margin-bottom: 4px !important;
}

.search_people_display {
	height: 54px !important;
	display: flex !important;
	align-items: center !important;
	cursor: text !important;
	box-sizing: border-box;
	position: relative;
	background-color: #f4f4f4 !important;
	color: #17232c !important;
	padding: 0 16px;
	border-radius: 2px !important;
	font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial,
		sans-serif !important;
	font-size: 15px !important;
	font-weight: 400 !important;
	letter-spacing: normal;
}

.search_people_display svg {
	width: 24px !important;
	height: 24px !important;
	display: block !important;
	position: absolute !important;
	left: 16px !important;
	top: 50% !important;
	box-sizing: border-box;
	cursor: text !important;
	overflow: hidden;
	color: #232b38 !important;
	margin-top: -12px !important;
	pointer-events: none !important;
}

.people_text {
	display: block;
	box-sizing: border-box;
	line-height: 20px !important;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	overflow: hidden !important;
	color: #17232c !important;
	cursor: text !important;
	font-size: 15px !important;
}

.date_innertext input[type="date"] {
	width: 120px;
	background-color: #f4f4f4;
	border: none;
}

.room_text input[type="number"] {
	width: 70px;
	height: 34px;
	background-color: #f4f4f4;
	border: none;
	padding-left: 4px;
}

.people_text input[type="number"] {
	width: 70px;
	height: 34px;
	background-color: #f4f4f4;
	border: none;
	padding-left: 4px;
}
/*
input[type="date"]::-webkit-calendar-picker-indicator {
    background: none;
}
*/

/*space1*/
.space1 {
	max-width: min(100%, 65em);
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
	margin-bottom: -30px !important;
	padding: 30px 0 0 0 !important;
}

/*space2*/
.space2 {
	display: block;
	box-sizing: border-box;
	padding-top: 30px !important;
	overflow: hidden !important;
}

.space2_inner {
	width: 80.188em;
	max-width: min(100%, 65em);
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 .625em;
}

/*other*/
.main_content {
	max-width: 1200px;
	box-sizing: border-box;
	position: relative !important;
	
	background: transparent;
	margin: 0 auto;
}

.popular {
	max-width: 1200px;
	display: block;
	box-sizing: border-box;
	margin: 0 auto !important;
}


.popular_title {
	margin: 37px auto;
}

.popular_title h2 {
	display: inline-block !important;
	box-sizing: border-box;
	color: #343a40;
	font-size: 36px;
	font-weight: 600;
	letter-spacing: -.4px;
	line-height: 44px;
	text-align: left;
}

.popular_des_content {
	display: block;
	box-sizing: border-box;
	position: relative;
	visibility: visible;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.prev_arr_des {
	width: 25px;
	height: 25px;
	display: block;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 2;
	visibility: visible;
	position: absolute;
	left: -47px;
	top: 50%;
	margin-top: -25px;
	padding: 9px 7px;
	color: #4e4e4e;
	transition: opacity .3s ease-in-out, color .3s ease-in-out;
}

.prev_arr_des svg {
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	color: #4e4e4e;
	cursor: pointer;
	visibility: visible;
}

.popular_des_container {
	display: block;
	box-sizing: border-box;
	visibility: visible;
	position: relative;
	overflow: hidden;
	margin: 0 -8px;
	padding: 0;
}


#slide_des {
	width: 2496px;
	display: block;
	box-sizing: border-box;
}

.popular_des_container ul {
	width: 2496px;
	display: block;
	box-sizing: border-box;
	position: relative;
	display: flex;
	top: 0;
	left: 0;
}

.popular_des_container li {
	display: inline-block;
	position: relative;
	width: 250px;
	height: 333px;
	border-radius: 8px;
	box-shadow: 0 8px 12px 0 rgb(33 37 41/ 15%);
	/* transform:translate3d(-1040px, 0px, 0px); */
	opacity: 1;
	margin-right: 1%;
}

.popular_des_container li a {
	display: block;
	overflow: hidden;
	height: 100%;
	border-radius: 12px !important;
}

.popular_des_container li img {
	height: 100%;
	display: block;
	border-radius: 12px !important;
	border-style: none;
}

.popular_des_container li a:hover img {
	transform: scale(1.1);
	transition-duration: 3s;
	transition-timing-function: ease-out;
}

.popular_des_text>* {
	color: #fff;
}

.popular_des_text {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0);
	transition: opacity 0.3s;
	cursor: pointer;
	padding: 20px;
}

.popular_des_text>h3 {
	font-size: 19px;
	font-weight: 700;
}

.popular_des_text>h4 {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	text-overflow: ellipsis;
}

.next_arr_des {
	width: 25px;
	height: 25px;
	display: block;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 2;
	visibility: visible;
	position: absolute;
	top: 50%;
	right: -47px;
	margin-top: -25px;
	padding: 9px 7px;
	color: #4e4e4e;
	transition: opacity .3s ease-in-out, color .3s ease-in-out;
}

.next_arr_des svg {
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	color: #4e4e4e;
	cursor: pointer;
	visibility: visible;
}


.popular_jeju_container {
    padding-top: 4rem;
}

.popular_jeju_content {
	position: relative;
	visibility: visible;
	touch-action: pan-y;
	transform: translate3d(0, 0, 0);
}

.prev_arr_jeju {
	width: 25px;
	height: 25px;
	display: block;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 2;
	visibility: visible;
	position: absolute;
	left: -47px;
	top: 50%;
	margin-top: -25px;
	padding: 9px 7px;
	color: #4e4e4e;
}

.prev_arr_hjeju svg {
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	color: #4e4e4e;
	cursor: pointer;
	visibility: visible;
	fill: currentcolor;
}

.popular_jeju_ul_container {
	display: block;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	visibility: visible;
	margin: 0 -8px;
}

.popular_jeju_container .slider_jeju {
	width: 2590px;
	display: flex;
	position: relative;
	
}

.popular_jeju_container .slider_jeju li {
	width: 259px;
	
}



.popular_jeju_container .slider_jeju li img {
	width: auto;
    height: 138px;
    cursor: pointer !important;
    position: relative;
    border-radius: 12px;
}

.popular_jeju_text {
	width: 243px;
	display: block;
	box-sizing: border-box;
	cursor: pointer !important;
	border-radius: 8px !important;
	padding: 4px !important;
	margin: 8px auto 0 auto !important;
}

.popular_jeju_text h3 {
	
}

.popular_jeju_text h4 {
	
}

.next_arr_jeju {
	width: 25px;
	height: 25px;
	display: block;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 2;
	visibility: visible;
	position: absolute;
	top: 50%;
	right: -47px;
	margin-top: -25px;
	padding: 9px 7px;
	color: #4e4e4e;
	transition: opacity .3s ease-in-out, color .3s ease-in-out;
}

.next_arr_jeju svg {
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	color: #4e4e4e;
	cursor: pointer;
	visibility: visible;
}

/*=================================== faq ===========================*/

.faq_container {
	padding: 60px 0;
}

.faq_container h6 {
	font-size:31px;
	padding-bottom: 24px;
}

.faq_question {
	display: flex;
	box-sizing: border-box;
	margin: 0 -8px;
}

.faq_column {
	display: block;
	box-sizing: border-box;
	flex: 1 1 50%;
}

.faq_column_container {
	display: block;
	box-sizing: border-box;
	padding: 0 8px;
	margin-bottom: 12px;
}

.faq_column_content {
	display: block;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
}

.faq_question_title {
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	flex-wrap: nowrap;
	cursor: pointer;
	padding: 15px 0;
}

.faq_question_text {
	display: block;
	box-sizing: border-box;
	cursor: pointer;
	font-family: HelveticaNeue-Bold, Helvetica Neue, Helvetica, Arial,
		sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	color: #4e4e4e;
	flex: 1 1 auto;
}

.faq_question_arr {
	height: auto;
	box-sizing: border-box;
	display: inline-block;
	align-items: flex-start;
	cursor: default;
	padding: 0;
	color: inherit;
	text-align: center;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: inherit;
	font-weight: inherit;
	line-height: normal;
	letter-spacing: normal;
	text-decoration: inherit;
	word-spacing: normal;
	transform: rotate3d(1, 0, 0, 180deg);
	border: none;
	border-radius: 0;
	outline: inherit;
	white-space: normal;
	text-overflow: inherit;
	overflow: visible;
	background: none;
	box-shadow: none;
	-webkit-appearance: button;
	-webkit-writing-mode: horizontal-tb !important;
}

.faq_question_arr svg {
	width: 16px;
	height: 16px;
	display: block;
	box-sizing: border-box;
	cursor: pointer;
	flex: 0 0 auto;
	overflow: hidden;
	margin-top: 3px;
	margin-left: 10px;
	transition: transform 250ms ease;
}

.faq_answer {
	max-height: 400px;
	display: none;
	box-sizing: border-box;
	visibility: visible;
	overflow: hidden;
	color: #4e4e4e;
	font-family: Brezel Grotesk, Helvetica Neue, Helvetica, Arial,
		sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 14px;
	transition: max-height 250ms ease, opacity 250ms ease, margin-bottom
		250ms ease;
	opacity: 1;
}

/*add*/
.dropdown.dropdown-lg .dropdown-menu {
	margin-top: -1px;
	padding: 6px 20px;
}

.input-group-btn .btn-group {
	display: flex !important;
}

.btn-group .btn {
	border-radius: 0;
	margin-left: -1px;
}

.btn-group .btn:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.btn-group .form-horizontal .btn[type="submit"] {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}

.form-group .form-control:last-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}