@charset "UTF-8";

* { 
	margin:0;
	padding:0;
}

body {
	min-width: 20em;
	display:block;
	box-sizing:border-box;
	padding:0;
	margin:0;
	font-family:Brezel Grotesk,Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.header {
	width:100%;
	height:62px;
	display:block;
	box-sizing:border-box;
	background-color:#00aef0;
}
.header_container {
	width:1040px !important;
	/*max-width:min(100%,65em);*/
	min-width:1040px !important;
	height:100%;
	box-sizing:boder-box;
	display:flex;
	flex-direction:row;
	align-items:center;
	transition:max-width .2s ease-out;
	padding:0 .625em;
	margin:0 auto !important;
}

/*logo*/
.logo {
	display:block;
	box-sizing:border-box;
	margin:5px 0;
}
.logo_container {
	cursor:pointer;
	color:#009dd8;
	display:block;
	box-sizing:border-box;
	overflow:hidden;
	position:relative;
}
.logo_img {
	width:125px !important;
	height:20px !important;
	display:block;
	box-sizing:border-box;
	cursor:pointer;
	position:relative;
}
.logo_img img {
	width:125px !important;
	height:20px !important;
	box-sizing:border-box;
	border-style:none;
	position:absolute;
	top:0;
	left:0;
}

/*nav_menu*/
.nav {
    width:100%;
	height:62px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
	box-sizing:border-box;
	position:relative;
}
.nav_menu {
	height:100%;
	display:flex;
	box-sizing:border-box;
	justify-content:flex-start;
	margin:0;
	margin-left:35px;
	padding:0;
	list-style:none;
	position:absolute;
	left:0;
}
.nav_menu li {
	display:block;
	box-sizing:border-box;
	margin:0 12px;
	list-style:none;
}
.nav_menu li a {
    height:62px;
    align-items:center;
    display:flex;
	box-sizing:border-box;
    position:relative;
	background-color:transparent;
	color:#fff;
	font-size:14px;
    font-weight:500;
    line-height:inherit;
    text-decoration:none;
    white-space:nowrap;
}
.nav_menu li a:hover {
	text-decoration:underline;
}
.nav_menu li a span {
    display:inline-block;
	box-sizing:border-box;
	cursor:pointer;
	line-height:16px;
    vertical-align:middle;
    margin-top:2px;
}
.nav_menu li:first-child {
	margin-left:0;
}
/*
.nav_hotel::after {
	width:100%;
    display:block;
    overflow:hidden;
    position:absolute;
    left:unset;
    bottom:0;
	border-bottom-color:#fff;
    border-bottom-width:2px!important;
    border-radius:2px;
    border-bottom-style:solid;
    content:"";
    border-left:0;
    border-right:0;
}
*/
.header_active {
    display:block;
    overflow:hidden;
	border-bottom-color:#fff;
    border-bottom-width:2px !important;
    border-radius:2px;
    border-bottom-style:solid;
    content:"";
    border-left:0;
    border-right:0;
}

/*nav_account*/
.nav_account {
	display:block;
	box-sizing:border-box;
	position:absolute;
	right:0;
}
.nav_account_container {
	height:100%;
	display:flex;
	box-sizing:border-box;
}
.nav_acco {
	display:block;
	box-sizing:border-box;
}
.nav_acco a {
    display:flex;
    align-items:center;
    position:relative;
    cursor:pointer;
    color:#fff;
    font-size:14px;
	font-weight:600;
    line-height:inherit;
    text-decoration:none !important;
    white-space:nowrap;
    margin:11px 0;
    margin-left:15px;
    border:1px solid #fff;
    padding:10px 20px;
    border-radius:4px;
}
.nav_mypage {
	display:flex;
	box-sizing:border-box;
}
.nav_mypage a {
    height:62px;
    display:flex;
    align-items:center;
    position:relative;
    cursor:pointer;
    color:#fff;
    font-size:14px;
	font-weight:600;
    line-height:inherit;
    text-decoration:none;
    white-space:nowrap;
	margin-left:15px;
}
.nav_login {
	display:block;
	box-sizing:border-box;
}
.nav_login a {
    height:62px;
    display:flex;
    align-items:center;
    position:relative;
    cursor:pointer;
    color:#fff;
    font-size:14px;
	font-weight:600;
    line-height:inherit;
    text-decoration:none;
    white-space:nowrap;
    margin-left:15px;
}
.nav_account_container a:hover {
	text-decoration:underline;
}